.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.container-fluid {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #333;
    padding: 1rem;
    position: absolute;
    top: 7.3rem;
    left: 0;
    right: 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }
}